<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import {Action, Getter, Mutation} from 'vuex-class';
    import moment from 'moment';

    import {config} from '@/config';
    import {TripCard, ScreenTemplate} from '@/components';

    @Component({
        components: {
            ScreenTemplate,
            TripCard,
        }
    })
    export default class UserDetails extends Vue {
        @Action('userDetails/fetchUserDetails') fetchUserDetails: Function;
        @Getter('userDetails/getDetails') userDetails: any;
        @Mutation('userDetails/setDetails') setUserDetails: Function;
        @Action('dialogs/createDialog') createDialog: Function;
        @Getter('dialogs/newDialogId') newDialogId: Function;
        @Mutation('dialogs/setNewDialogId') setNewDialogId: Function;
        @Getter('user/userId') userId: string;

        get photo() {
            return this.userDetails.user && config.getStaticUrl(this.userDetails.user.photo)
        }

        get fullName() {
            const user = this.userDetails.user;

            return `${user.name} ${user.surname}`;
        }

        get age() {
            if (!this.userDetails.user) {
                return '';
            }

            return moment().diff(this.userDetails.user.birthday, 'years');
        }

        created() {
            const id = +(this.$route.params as any).id;

            this.fetchUserDetails(id)
        }

        @Watch('newDialogId')
        handleDialogCreate() {
            this.$router.push(`/home/chat/dialog/${this.newDialogId}`);
        }

        beforeDestroy() {
            this.setNewDialogId(null);
            this.setUserDetails({user: [], trips: []})
        }

        async handleCreateDialog() {
            await this.createDialog({
                creator: this.userId,
                addressee: this.userDetails.user.userId,
            });
        }
    }
</script>

<template>
    <screen-template title="Пользователь" :isBack="true">
        <template v-if="userDetails.user.userId">
            <div class="user-card">
                <img :src="photo" alt="">
                <div class="info">
                    <div class="name">{{fullName}}</div>
                    <div v-if="userDetails.user.birthday" class="age">Возвраст: {{age}}</div>
                </div>
            </div>
            <template v-if="userDetails.user.about">
                <h3 class="info-title">О себе</h3>
                <p>{{userDetails.user.about}}</p>
            </template>
            <button class="btn btn__send" @click="handleCreateDialog">
                Написать
            </button>
            <h3 class="info-title">Поездки пользователя</h3>
            <ul class="trips-list">
                <li v-for="item in userDetails.trips">
                    <trip-card :trip="item"></trip-card>
                </li>
            </ul>
        </template>
    </screen-template>
</template>

<style lang="scss" scoped>
    .trips-list {
        margin: 20px 0 0;
        padding: 0;

        li {
            margin-bottom: 20px;
        }
    }

    .btn__send {
        padding: 10px 10px;
        background-color: var(--primary);
        color: white;
        font-weight: 500;
        font-size: 1.1rem;
        width: 100%;
        border-radius: 4px;
    }

    .info-title {
        margin-bottom: 0;
    }

    .user-card {
        display: flex;
        padding: 10px;
        border-radius: 3px;
        background-color: #f9f9f9;

        img {
            margin-right: 10px;
            max-width: 50px;
            max-height: 50px;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .name {
        font-weight: bold;
    }
</style>
