<template>
    <li class="places__item">
        <trip-date :date="date"></trip-date>
        <div class="places__name">
            {{trip.name}}
        </div>
        <img class="geo-marker" src="../assets/geo-marker.svg" alt="">
    </li>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';

    import {TripDate} from '@/components';

    @Component({
        components: {
            TripDate
        }
    })
    export default class TripItem extends Vue {
        @Prop(String) date: string;
        @Prop(Object) trip: any;
    }
</script>

<style lang="scss" scoped>
    .places {
        &__item {
            display: flex;
            align-items: center;
        }

        &__name {
            width: 100%;
            text-align: right;
        }
    }

    .geo-marker {
        max-width: 30px;
        max-height: 30px;
        margin-left: 10px;
    }
</style>
