<template>
    <div class="card" @click="$emit('click', user)">
        <span class="name">{{fullName}}</span>
        <img class="avatar" :src="avatar" alt="User avatar">
        <img class="right-arrow" src="../assets/right-arrow.svg" alt="">
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';
    import {config} from '@/config';

    @Component({})
    export default class UserCard extends Vue {
        @Prop(Object) user: any;

        get fullName() {
            return `${this.user.name} ${this.user.surname}`
        }

        get avatar() {
            return config.staticHost + this.user.photo
        }
    }
</script>

<style lang="scss" scoped>
    .card {
        display: flex;
        align-items: center;
        padding: 20px;
        border-bottom: 0.5px solid black;
    }

    .name {
        min-width: 60%;
        font-size: 18px;
        text-align: center;
        font-weight: 500;
    }

    .avatar {
        max-width: 50px;
        max-height: 50px;border-radius: 50%;
    }

    .right-arrow {
        margin-left: auto;
        max-width: 30px;
        max-height: 30px;
    }
</style>
