<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Action, Getter, Mutation} from 'vuex-class';

    import {config} from '@/config';
    import {companionList} from '../create-trip/constants-trip';
    import {
        ModalComponent,
        InputComponent,
        SelectComponent,
        CheckboxComponent,
        PlaceInput,
        TripCard,
        ScreenTemplate,
    } from '@/components'

    @Component({
        components: {
            ModalComponent,
            InputComponent,
            SelectComponent,
            CheckboxComponent,
            PlaceInput,
            TripCard,
            ScreenTemplate,
        }
    })
    export default class ListTrips extends Vue {
        @Action('trips/fetchTrips') fetchTrips: Function;
        @Mutation('trips/setFilter') setFilter: Function;
        @Action('trips/fetchFilteredTrips') fetchFilteredTrips: Function;
        @Getter('trips/trips') trips: any;
        @Getter('trips/filter') filter: any;
        @Getter('user/photo') userPhoto: string;

        companionsList = companionList;

        get photo() {
            return config.getStaticUrl(this.userPhoto)
        }

        async created() {
            await this.fetchTrips(this.filter);
        }

        handleFilterClear() {
            this.setFilter(null);
            this.fetchTrips();
        }
    }
</script>

<template>
    <screen-template
            title="Главная"
    >
        <button v-if="filter" @click="handleFilterClear">Отменить поиск</button>
        <ul v-if="trips" class="trips">
            <li v-for="trip in trips">
                <trip-card :trip="trip"></trip-card>
            </li>
        </ul>
        <template v-if="this.userPhoto" v-slot:middle-left>
            <button class="btn btn__profile" @click="$router.push('/home/profile/user')">
                <span class="avatar" :style="`background-image: url(${photo})`"></span>
            </button>
        </template>
    </screen-template>
</template>

<style lang="scss" scoped>
    .btn__profile {
        .avatar {
            margin-right: 0;
            max-width: 30px;
            max-height: 30px;
        }
    }

    .map {
        margin-top: 20px;
        width: 100%;
        height: 200px;
    }

    .modal-content {
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 20px;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 100%;
        max-width: 350px;
        max-height: 82vh;
        overflow-y: scroll;
    }

    .trips {
        list-style: none;
        padding: 0;
    }

    .btn-search {
        margin: 30px auto 0;
    }
</style>

<!--<modal-component :open="modalOpen" @close="modalOpen = false">-->
<!--<div class="modal-content">-->
<!--<input-component-->
<!--v-model="filter.dateStart"-->
<!--id="date-start"-->
<!--type="date"-->
<!--label="Выберите дату начала поездки"-->
<!--&gt;</input-component>-->
<!--<select-component-->
<!--id="companion"-->
<!--label="Кого планируете видеть в своей компании?"-->
<!--v-model="filter.companion"-->
<!--:items="companionsList"-->
<!--:defaultOption="true"-->
<!--&gt;-->
<!--</select-component>-->
<!--<place-input id="from" label="Откуда отправляетесь?" v-model="filter.from" @place="handleAddMarker('from')"/>-->
<!--<place-input id="to" label="Куда направляетесь?" v-model="filter.to" @place="handleAddMarker('to')"/>-->
<!--<div ref="map" class="map"></div>-->
<!--<checkbox-component-->
<!--id="with-children"-->
<!--v-model="filter.withChildren"-->
<!--label="Можно с детьми"-->
<!--&gt;</checkbox-component>-->
<!--<button @click="handleFetchFilteredTrips" class="btn btn-black btn-search">Найти</button>-->
<!--</div>-->
<!--</modal-component>-->
