<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';

    @Component({})
    export default class CheckboxComponent extends Vue {
        @Prop(String) label: string;
        @Prop(String) id: string;
        @Prop(Boolean) value: boolean;
    }
</script>

<template>
    <label class="input-checkbox input-field" :for="id">
        <input
                type="checkbox"
                :id="id"
                :value="value"
                @change="$emit('input', $event.target.checked)"
        >
        <span>{{label}}</span>
    </label>
</template>
