<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';

    @Component({})
    export default class TextInput extends Vue {
        @Prop(String) label: string;
        @Prop(String) value: string;
        @Prop(String) id: string;
        @Prop(String) type: string;
    }
</script>

<template>
    <label class="input-text input-field" :for="id">
        <span class="input-title">{{label}}:</span>
        <input
                :type="type"
                :id="id"
                :value="value"
                @change="$emit('input', $event.target.value)"
        >
    </label>
</template>
