<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';

    @Component({})
    export default class PlaceInput extends Vue {
        @Prop(String) id: string;
        @Prop(String) label: string;

        $refs: {
            input: HTMLInputElement;
        };

        mounted() {
            this.$emit('mount', this.$refs.input)
        }
    }
</script>

<template>
    <label class="input-text input-field dropdown-wrapper" :for={id}>
        <span class="input-title">{{label}}</span>
        <input ref="input" :id="id">
    </label>
</template>
