<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';
    import {ISelectOption} from './select.types';

    @Component({})
    export default class SelectComponent extends Vue {
        @Prop(String) value: string;
        @Prop(String) label: string;
        @Prop(String) id: string;
        @Prop(Array) items: ISelectOption[];
        @Prop(Boolean) defaultOption: boolean;
    }
</script>

<template>
    <label class="input-text input-field" :for="id">
        <span class="input-title">{{label}}</span>
        <select
                class="input-select"
                :id="id"
                @change="$emit('input', $event.target.value)"
                :value="value"
        >
            <option v-if="defaultOption === true" value="">Не выбрано</option>
            <option v-for="item in items" :value="item.value">{{item.title}}</option>
        </select>
    </label>
</template>
