<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';

    @Component({})
    export default class TextareaComponent extends Vue {
        @Prop(String) label: string;
        @Prop(String) value: string;
        @Prop(String) id: string;
        @Prop(Number) rows: number;
    }
</script>

<template>
    <label class="input-text input-field" :for="id">
        <span class="input-title">{{label}}:</span>
        <textarea
                :rows="rows"
                :id="id"
                :value="value"
                @change="$emit('input', $event.target.value)"
        ></textarea>
    </label>
</template>
