<template>
    <header class="header">
        <button @click="handleMenuClick" class="header_button">
            <template v-if="isBurger">
                <svg class="burger" xmlns="http://www.w3.org/2000/svg" width="459" height="459" viewBox="0 0 459 459">
                    <path d="M0 383h459v-51H0v51zm0-128h459v-51H0v51zM0 77v51h459V77H0z"
                          style="fill: var(--header-text-color);"></path>
                </svg>
            </template>
            <template v-if="!isBurger">
                <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="240" height="240" viewBox="0 0 281 241">
                    <path d="M58 129l108 108c5 5 12 5 17 0 5-4 5-12 0-17L83 120l100-99a12 12 0 1 0-17-17L58 112c-5 5-5 12 0 17z"
                          style="fill: var(--header-text-color);"></path>
                </svg>
            </template>
        </button>
        <span>{{$route.meta.title}}</span>
        <router-link to="/home/chat/list" class="header_button">
            <svg xmlns="http://www.w3.org/2000/svg" width="483.3" height="483.3" viewBox="0 0 483.3 483.3">
                <path style="fill: var(--header-text-color);" d="M424.3 57.8H59.1a59.2 59.2 0 0 0-59.1 59v249.6a59.2 59.2 0 0 0 59.1 59.2h365.1a59.2 59.2 0 0 0 59.1-59.2V117a59 59 0 0 0-59-59.3zm32.1 308.6a32.1 32.1 0 0 1-32.1 32.2H59.1A32.1 32.1 0 0 1 27 366.4V117a32.1 32.1 0 0 1 32.1-32.2h365.1a32.1 32.1 0 0 1 32.1 32.1v249.5h.1z"></path>
                <path style="fill: var(--header-text-color);" d="M304.8 238.6l118.2-106c5.5-5 6-13.5 1-19.1-5-5.5-13.5-6-19.1-1l-163 146.3-31.8-28.5-.2-.3a20 20 0 0 0-2.2-1.9L78.3 112.3c-5.6-5-14.1-4.5-19.1 1.1-5 5.6-4.5 14.1 1.1 19.1l119.6 107L60.8 350.9a13.6 13.6 0 0 0 18.5 19.9l120.9-113.2L233 287a13.5 13.5 0 0 0 18 0l33.7-30.3 120.2 114.2a13.5 13.5 0 0 0 18.6-19.6L304.8 238.6z"></path>
            </svg>
        </router-link>
    </header>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Action} from 'vuex-class';

    import menuBurgerIcon from './assets/menu-burger.svg';
    import leftArrowIcon from './assets/left-arrow.svg';

    @Component({})
    export default class Header extends Vue {
        @Action('drawer/open') openDrawer: Function;

        get isBurger() {
            return !this.$route.meta.burgerMenuBack;
        }

        handleMenuClick() {
            if (this.$route.meta.burgerMenuBack) {
                this.$router.back();
            } else {
                this.openDrawer();
            }
        }
    }
</script>

<style lang="scss" scoped>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 5px 20px;
        box-sizing: border-box;
        background-color: var(--primary);
        box-shadow: 0 -6px 17px 3px #000000;
        color: var(--header-text-color);
        font-weight: bold;
    }

    .header_button {
        background-color: transparent;
        border: none;

        svg {
            max-width: 30px;
            max-height: 30px;
        }
    }
</style>
