<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Action, Getter, Mutation} from 'vuex-class';

    import {PlaceInput, InputComponent, SelectComponent, CheckboxComponent, ScreenTemplate} from '@/components';
    import {GApi} from '@/libs/gapi';
    import {companionList} from '@/pages/home/pages/create-trip/constants-trip';

    @Component({
        components: {
            ScreenTemplate,
            PlaceInput,
            InputComponent,
            SelectComponent,
            CheckboxComponent,
        }
    })
    export default class SearchTrips extends Vue {
        @Mutation('trips/setFilter') setFilter: Function;
        @Mutation('trips/setTrips') setTrips: Function;
        companionsList = companionList;
        $refs: {
            map: HTMLDivElement;
        };
        gapi = new GApi();
        form: {[key: string]: any} = {
            from: undefined,
            to: undefined,
            dateStart: undefined,
            dateEnd: undefined,
            companion: undefined,
            withChildren: undefined,
        };

        mounted() {
            const center = {lat: 49.770511, lng: 31.547726};
            const zoom = 4.5;

            this.gapi.initialize({element: this.$refs.map, center, zoom});
        }

        handleMount(key: string, input: HTMLInputElement) {
            this.gapi.initAutocomplate(input, (googlePlace: any) => {
                const place = this.gapi.formatPlace(googlePlace);
                this.form[key] = place;
                this.gapi.setMarker(key, place);
            });
        }

        handleSearch() {
            this.setFilter(this.form);
            this.setTrips([]);
            this.$router.push('/home/list')
        }
    }
</script>

<template>
    <screen-template
            title="Поиск"
            :isBack="true"
    >
        <place-input label="Откуда" @mount="handleMount('from', $event)"></place-input>
        <place-input label="Куда" @mount="handleMount('to', $event)"></place-input>
        <div class="map" ref="map"></div>
        <input-component
                v-model="form.dateStart"
                id="date-start"
                type="date"
                label="Выберите дату начала поездки"
        ></input-component>
        <input-component
                v-model="form.dateEnd"
                id="date-end"
                type="date"
                label="Выберите дату конца поездки"
        ></input-component>
        <select-component
                id="companion"
                label="Кого планируете видеть в своей компании?"
                :items="companionsList"
                v-model="form.companion"
                :defaultOption="true"
        ></select-component>
        <checkbox-component
                id="with-children"
                label="Можно с детьми"
                v-model="form.withChildren"
        ></checkbox-component>
        <div class="container jc mt-30">
            <button class="btn btn__red" @click="handleSearch">Найти</button>
        </div>
    </screen-template>
</template>

<style lang="scss" scoped>
    .map {
        margin-top: 20px;
    }
</style>
