<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--<meta name="google-signin-client_id" content="922623411740-2im75efrrse70bfh07gjka0r0tkvpefm.apps.googleusercontent.com">-->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Travels</title>
    <!-- built files will be auto injected -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7Om4DktPE0iOseyjsFCb93BpnsE3dCTM&libraries=places"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900&display=swap&subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but travels-front doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
