<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Action, Getter} from 'vuex-class';
    import {companionList} from './constants-trip';
    import {GApi} from '@/libs/gapi';
    import {ICreateTripInput} from '@/store/modules/trips';
    import {
        PlaceInput,
        InputComponent,
        TextareaComponent,
        SelectComponent,
        CheckboxComponent,
        IPlace,
        ScreenTemplate,
    } from '@/components';

    interface IForm extends ICreateTripInput {
        [key: string]: string | IPlace | boolean | number | undefined;
    }

    @Component({
        components: {
            PlaceInput,
            InputComponent,
            TextareaComponent,
            SelectComponent,
            CheckboxComponent,
            ScreenTemplate,
        }
    })
    export default class CreateTrip extends Vue {
        @Action('trips/createTrip') createTrip: Function;
        @Getter('user/userId') userId: number;
        companionsList = companionList;

        gapi = new GApi();
        form: IForm = {
            local: true,
            from: {name: ''},
            to: {name: ''},
            dateStart: '',
            dateEnd: '',
            description: 'Описание',
            companion: companionList[0].value,
            withChildren: false,
            wishes: 'Пожелания'
        };

        mounted() {
            const element = this.$refs.createTripMap as HTMLElement;
            const center = {lat: 49.770511, lng: 31.547726};
            const zoom = 4.5;

            this.gapi.initialize({element, center, zoom});
        }

        drawRoute() {
            const from = this.form.from as IPlace;
            const to = this.form.to as IPlace;

            if (from.location && to.location) {
                this.gapi.drawRoute(from.location, to.location);
            }
        }

        handleAddMarker(id: string) {
            setTimeout(() => {
                this.gapi.setMarker(id, this.form[id] as IPlace);
                this.drawRoute();
            }, 0);
        }

        async handleSubmit() {
            await this.createTrip({...this.form, author: this.userId});

            setTimeout(() => this.$router.push('/home/list'), 500);
        }

        handleMount(key: string, input: HTMLInputElement) {
            this.gapi.initAutocomplate(input, (googlePlace: any) => {
                const place = this.getPlace(googlePlace);
                this.form[key] = place;
                this.gapi.setMarker(key, place);
            });
        }

        getPlace(googlePlace: any): IPlace {
            const name = [
                googlePlace.address_components[0] && googlePlace.address_components[0].long_name,
                googlePlace.address_components[2] && googlePlace.address_components[2].long_name,
                googlePlace.address_components[3] && googlePlace.address_components[3].long_name,
            ].join(', ');

            return {
                name,
                location: {
                    lat: googlePlace.geometry.location.lat(),
                    lng: googlePlace.geometry.location.lng(),
                }
            }
        }
    }
</script>

<template>
    <screen-template title="Создать" :isBack="true">
        <h4 class="input-title radio-group-title">Планируете путешествие по стране или миру?</h4>
        <div class="radio-group">
            <label class="input-radio" for="local-yes">
                <input type="radio" name="local" :value="true" v-model="form.local" id="local-yes">
                <span>По стране</span>
            </label>
            <label class="input-radio" for="local-no">
                <input type="radio" name="local" :value="false" v-model="form.local" id="local-no">
                <span>По миру</span>
            </label>
        </div>
        <div id="created-trip" ref="createTripMap"></div>
        <place-input id="from" label="Откуда отправляетесь?" @mount="handleMount('from', $event)"/>
        <place-input id="to" label="Куда направляетесь?" @mount="handleMount('to', $event)"/>
        <input-component
                v-model="form.dateStart"
                id="date-start"
                type="date"
                label="Выберите дату начала поездки"
        ></input-component>
        <input-component
                v-model="form.dateEnd"
                id="date-end"
                type="date"
                label="Выберите дату конца поездки"
        ></input-component>
        <textarea-component
                id="description"
                label="Описание поездки"
                :rows="5"
                v-model="form.description"
        ></textarea-component>
        <select-component
                id="companion"
                label="Кого планируете видеть в своей компании?"
                :items="companionsList"
                v-model="form.companion"
        ></select-component>
        <checkbox-component
                id="with-children"
                label="Еду с детьми"
                v-model="form.withChildren"
        ></checkbox-component>
        <textarea-component
                id="wishes"
                label="Пожелания к попутчикам"
                :rows="5"
                v-model="form.wishes"
        ></textarea-component>
        <div class="container jc mt-30">
            <button @click="handleSubmit" class="btn btn__red">
                Добавить поездку
            </button>
        </div>
    </screen-template>
</template>

<style lang="scss" scoped>
    #created-trip {
        margin-top: 20px;
        width: 100%;
        height: 200px;
    }

    .form {
        padding-bottom: 100px;
    }

    .title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }

    .button-add {
        margin: 50px auto 0;
    }
</style>
