<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import {Action, Getter} from 'vuex-class';
    import {DrawerComponent, DrawerHeader, DrawerMenu, DrawerMenuItem} from '@/components/drawer';
    import {BottomBar} from '@/features/bottom-bar';

    import plusImage from './assets/plus-icon.svg';
    import allTripsImage from './assets/world.svg';
    import messageImage from './assets/mail.svg';
    import searchImage from './assets/search.svg';

    @Component({
        components: {
            DrawerComponent,
            DrawerHeader,
            DrawerMenu,
            DrawerMenuItem,
            BottomBar,
        }
    })
    export default class Home extends Vue {
        @Action('trips/fetchFavoriteTrips') fetchFavoriteTrips: Function;
        @Action('user/fetchUser') fetchUser: Function;
        @Action('chat/fetchChats') fetchChats: Function;
        @Action('dialogs/fetchDialogs') fetchDialogs: Function;
        @Action('chat/subscriptionOnNewMessages') subscriptionOnNewMessages: Function;
        @Action('chat/subscriptionOnNewChats') subscriptionOnNewChats: Function;
        @Action('dialogs/subscriptionOnNewDialogs') subscriptionOnNewDialogs: Function;
        @Action('dialogs/subscriptionOnNewDialogMessages') subscriptionOnNewDialogMessages: Function;
        @Getter('user/fullName') name: string;
        @Getter('user/userId') userId: number;
        @Getter('user/email') email: string;
        @Getter('chat/chatsIds') chatsIds: string;
        @Getter('bottomBar/open') bottomBarOpen: boolean;

        items = [
            {key: 'list', icon: allTripsImage, path: '/home/list'},
            {key: 'create', icon: plusImage, path: '/home/create-trip'},
            {key: 'search', icon: searchImage, path: '/home/search-trips'},
            {key: 'messages', icon: messageImage, path: '/home/chat/list'},
        ];

        async created() {
            this.fetchUser();
        }

        @Watch('userId')
        onUserFetched() {
            this.fetchChats(this.userId);
            this.fetchDialogs(this.userId);
            this.subscriptionOnNewChats(this.userId);
            this.subscriptionOnNewDialogs(this.userId);
            this.subscriptionOnNewDialogMessages(this.userId);
            this.fetchFavoriteTrips(this.userId);
        }

        @Watch('chatsIds')
        onChatsFetched() {
            this.subscriptionOnNewMessages(this.chatsIds);
        }

        handleMenuClick({path}: {path: string}) {
            this.$router.push(path);
        }
    }
</script>

<template>
    <div class="page">
        <div :class="bottomBarOpen ? 'content-container' : ''">
            <router-view></router-view>
        </div>
        <div class="bottom-bar-container" :class="bottomBarOpen ? 'show' : 'hide'">
            <bottom-bar :items="items" @click="handleMenuClick"></bottom-bar>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .bottom-bar-container {
        position: fixed;
        bottom: 0;
        left: 0;
        border-top: .5px solid var(--border-color);
        padding-top: 1px;
        width: 100%;
    }

    .hide {
        bottom: -60px;
    }

    .show {
        bottom: 0;
    }

    .content-container {
        max-width: 800px;
        margin: 0 auto 80px auto;
    }
</style>
