<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Action} from "vuex-class";

    import {InputComponent} from '@/components';

    @Component({
        components: {
            InputComponent,
        },
    })
    export default class LoginPage extends Vue {
        @Action('user/login') loginUser: Function;

        userData = {
            email: '',
            password: '',
        };
        response = {
            error: false,
            message: ''
        };

        async handleGoogleLogin() {
            // (window as any).auth2.grantOfflineAccess().then(this.handleGoogleCallback);
        }

        async handleLogin() {
            const res = await this.loginUser(this.userData);

            if (res.error) {
                this.response = res;
            } else {
                this.$router.push('/home');
            }
        }
    }
</script>

<template>
    <div class="main-wrapper">
        <h1 class="main-wrapper_title">
            Хотите в путешествие?
            <span v-if="response.error" class="auth-error">
                {{response.message}}
            </span>
        </h1>
        <h3 class="main-wrapper_subtitle">Присоединитесь к чьей-то компании или соберите свою!</h3>

        <div class="input-container">
            <input v-model="userData.email" type="email" name="email" placeholder="Ваш e-mail" class="auth-input">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.012 31.012">
                <path d="M25.109 21.51a.495.495 0 0 1-.342-.136l-5.754-5.398a.5.5 0 1 1 .685-.728l5.754 5.398a.5.5 0 0 1-.343.864zM5.902 21.51a.5.5 0 0 1-.343-.864l5.756-5.398a.5.5 0 0 1 .685.728l-5.756 5.398a.495.495 0 0 1-.342.136z"></path>
                <path d="M28.512 26.529H2.5a2.503 2.503 0 0 1-2.5-2.5V6.982c0-1.379 1.122-2.5 2.5-2.5h26.012c1.378 0 2.5 1.121 2.5 2.5v17.047c0 1.379-1.122 2.5-2.5 2.5zM2.5 5.482c-.827 0-1.5.673-1.5 1.5v17.047c0 .827.673 1.5 1.5 1.5h26.012c.827 0 1.5-.673 1.5-1.5V6.982c0-.827-.673-1.5-1.5-1.5H2.5z"></path>
                <path d="M15.506 18.018c-.665 0-1.33-.221-1.836-.662L.83 6.155a.501.501 0 0 1-.049-.706.503.503 0 0 1 .706-.048l12.84 11.2c.639.557 1.719.557 2.357 0L29.508 5.419a.5.5 0 0 1 .658.754L17.342 17.355c-.507.442-1.171.663-1.836.663z"></path>
            </svg>
        </div>
        <div class="input-container">
            <input v-model="userData.password" type="password" name="password" placeholder="Ваш пароль" class="auth-input">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54">
                <path d="M43 20.113V14.5C43 6.505 35.822 0 27 0S11 6.505 11 14.5v5.613c-3.401.586-6 3.55-6 7.117v19.542C5 50.757 8.243 54 12.229 54h29.542C45.757 54 49 50.757 49 46.771V27.229c0-3.566-2.599-6.53-6-7.116zM13 14.5C13 7.607 19.28 2 27 2s14 5.607 14 12.5V20H13v-5.5zm34 32.271A5.235 5.235 0 0 1 41.771 52H12.229A5.235 5.235 0 0 1 7 46.771V27.229A5.235 5.235 0 0 1 12.229 22h29.542A5.235 5.235 0 0 1 47 27.229v19.542z"></path>
                <path d="M27 28c-2.206 0-4 1.794-4 4v6c0 2.206 1.794 4 4 4s4-1.794 4-4v-6c0-2.206-1.794-4-4-4zm2 10c0 1.103-.897 2-2 2s-2-.897-2-2v-6c0-1.103.897-2 2-2s2 .897 2 2v6z"></path>
            </svg>
        </div>

        <button @click="handleLogin" class="button_auth">Войти</button>
        <div class="social_wr">
            <button class="social_link">
                <img src="../assets/facebook.svg" alt="" class="social_img">
            </button>
            <button @click.prevent="handleGoogleLogin" class="social_link">
                <img src="../assets/google.svg" alt="" class="social_img">
            </button>
        </div>
        <div class="auth_hint">Нет аккаунта?
            <router-link
                    :to="{path: '/authenticate/registration'}"
                    class="auth_link"
            >
                Зарегистрируйтесь
            </router-link>
        </div>
    </div>
</template>

<!--href="https://www.facebook.com/v3.3/dialog/oauth?client_id=604537116689481&response_type=granted_scopes&redirect_uri=http://localhost:3002/authenticate/redirect/facebook" class="social_link"-->

<style lang="scss" scoped>
    @import "../authenticate";

    .no-account {
        font-weight: lighter;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #000;
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
</style>
