<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import moment from 'moment';

    @Component({})
    export default class MessageComponent extends Vue {
        @Prop(Boolean) isAuthor: boolean;
        @Prop(String) timestamp: string;
        @Prop(String) name: string;
        @Prop(String) message: string;

        formatTime(time: number) {
            return moment().millisecond(time).format('hh:mm')
        }
    }
</script>

<template>
    <li
            :class="isAuthor ? 'message__me' : 'message__not-me'"
            class="message__item"
    >
        <div>
            <span class="message__time">{{formatTime(timestamp)}}</span>
            <span class="message__name">{{name}}</span>
        </div>
        <span class="message__data">{{message}}</span>
    </li>
</template>

<style lang="scss" scoped>
    .message {
        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 78%;
            padding: 10px;
            margin-top: 15px;
            margin-bottom: 0;
            background-color: #525252;
            color: white;
        }

        &__data {
            font-size: .9rem;
        }

        &__time {
            font-size: 12px;
            margin-right: 10px;
        }

        &__name {
            align-self: flex-start;
            margin-bottom: 7px;
            color: red;
        }

        &__me {
            padding-right: 20px;
            align-self: flex-end;
            background-color: rgb(254, 247, 229);
            color: rgb(73, 75, 92);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        &__not-me {
            padding-left: 20px;
            background-color: rgb(255, 233, 232);
            color: rgb(73, 75, 92);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
</style>
