<script lang="ts">
    import {Component, Vue, Prop, Watch} from 'vue-property-decorator';

    import {ScreenTemplate} from '@/components';
    import {MessageComponent, MessageInput} from './';

    @Component({
        components: {
            ScreenTemplate,
            MessageComponent,
            MessageInput,
        }
    })
    export default class MessagesPage extends Vue {
        @Prop(String) title: string;
        @Prop(Array) messages: any[];
        @Prop(Function) isAuthor: Function;
        @Prop(Function) getTimestamp: Function;
        @Prop(Function) getName: Function;
        @Prop(Function) getData: Function;

        rows = 1;
        inputMessage: string = '';

        $refs: {
            messagesListRef: HTMLDivElement;
            messagesList: HTMLUListElement;
            inputContainerRef: HTMLDivElement;
        };
        headerHeight: number = 0;
        inputHeight: number = 47;
        containerHeight: string = '';

        mounted() {
            setTimeout(() => {
                this.updateScroll();
            }, 200)
        }

        updateScroll() {
            this.$refs.messagesListRef.scrollTo(0, this.$refs.messagesListRef.scrollHeight);
        }

        handleSend() {
            if (this.inputMessage.trim().length === 0) {
                return;
            }

            this.$emit('send', this.inputMessage);

            this.inputMessage = '';
        }

        updateContainerHeight() {
            this.containerHeight = `calc(100vh - ${this.headerHeight + this.inputHeight + 25}px)`;
        }

        handleHeaderRef(element: HTMLElement) {
            this.headerHeight = element.clientHeight;
            this.updateContainerHeight()
        }

        @Watch('messages')
        handleMessagesChange() {
            setTimeout(() => this.updateScroll(), 10)
        }
    }
</script>

<template>
    <div class="messages-page">
        <screen-template
                :title="title"
                :isBack="true"
                :minimal="true"
                :headerRef="handleHeaderRef"
                :disableHorizontalOffset="true"
        >
            <!--<div class="message__list_container" :style="`height: ${containerHeight}`">-->
                <ul class="message__list" ref="messagesListRef" :style="`height: ${containerHeight}`">
                    <message-component
                            v-for="message in messages"
                            :isAuthor="isAuthor(message)"
                            :timestamp="getTimestamp(message)"
                            :name="getName(message)"
                            :message="getData(message)"
                    ></message-component>
                </ul>
            <!--</div>-->
            <message-input
                    v-model="inputMessage"
                    @send="handleSend"
                    @update-height="inputHeight = $event"
            ></message-input>
        </screen-template>
    </div>
</template>

<style lang="scss">
    .messages-list-container {
        margin-top: auto;
        overflow-y: scroll;
    }

    .message {
        &__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 0;
            overflow-y: scroll;

            &_container {
                overflow: scroll;
            }
        }
    }

    .messages-page {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
</style>
