<script lang="ts">
    import {Component, Prop, Watch, Vue} from 'vue-property-decorator';

    @Component({})
    export default class MessageInput extends Vue {
        @Prop(String) value: string;
        rows: number = 1;

        $refs: {
            hiddenMessageRef: HTMLDivElement;
            inputRef: HTMLInputElement;
            inputContainerRef: HTMLDivElement;
        };

        @Watch('value')
        handleValueChange() {
            this.updateTextareaRowsCount()
        }

        updateHeight() {
            this.$emit('update-height', this.$refs.inputContainerRef.clientHeight);
        }

        mounted() {
            this.updateHeight();
        }

        updateTextareaRowsCount() {
            const rows = Math.ceil(
                (this.$refs.hiddenMessageRef.clientWidth + 15) / this.$refs.inputRef.clientWidth
            );

            if (rows > 5) {
                this.rows = 5;
            }

            if (this.rows !== rows && rows !== 0) {
                this.rows = rows;
            }

            setTimeout(() => this.updateHeight, 10)
        }
    }
</script>

<template>
    <div class="message-input-container" ref="inputContainerRef">
        <div class="message-input">
                    <textarea
                            ref="inputRef"
                            :rows="rows"
                            :value="value"
                            @change="$emit('input', $event.target.value)"
                            placeholder="Сообщение"
                    ></textarea>
            <button class="btn message_send-btn" @click="$emit('send')">
                <img src="../assets/sent-mail.svg" alt="Send message">
            </button>
        </div>
        <div ref="hiddenMessageRef" class="hidden-message">{{value}}</div>
    </div>
</template>

<style lang="scss" scoped>
    .message-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        margin: 0 var(--horizontal-offset);
        background-color: rgb(254, 247, 229);
        border-radius: 50px;
    }

    .message-input {
        display: flex;
        width: 90%;

        textarea {
            width: 100%;
            box-sizing: border-box;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            outline: none;
            color: black;
            font-size: 16px;
            line-height: 22px;

            &::placeholder {
                color: rgb(143, 141, 143);
            }
        }
    }

    .message_send-btn {
        img {
            max-width: 20px;
            max-height: 20px;
        }
    }

    .hidden-message {
        position: fixed;
        visibility: hidden;
        right: 2000px;
        height: auto;
        width: auto;
        white-space: nowrap;
        font-size: 16px;
    }
</style>
