<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import {Action, Getter} from 'vuex-class';

    import {ScreenTemplate} from '@/components';
    import {IChatItem} from '@/store/modules/chat/chat.vuex.d';

    @Component({
        components: {
            ScreenTemplate
        }
    })
    export default class ChatsList extends Vue {
        @Action('chat/fetchChats') fetchChats: Function;
        @Getter('user/userId') userId: number;
        @Getter('chat/chatsList') chatsList: Array<IChatItem>;
        @Getter('dialogs/dialogsList') dialogsList: Array<any>;

        activeTab: string = 'dialogs';

        DIALOGS_KEY = 'dialogs';
        CHATS_KEY = 'chats';

        @Watch('userId')
        onUserIdChange() {
            this.fetchChats(this.userId)
        }

        created() {
            this.userId && this.fetchChats(this.userId);
        }

        getChatImage(chat: IChatItem) {
            return chat.trip.photo;
        }

        formatName(name: string) {
            return name.split(', ')[0]
        }

        getChatTitle(chat: IChatItem) {
            return `${this.formatName(chat.trip.from.name)} - ${this.formatName(chat.trip.to.name)}`;
        }
    }
</script>

<template>
    <div>
        <screen-template title="Чаты">
            <div class="tabs">
                <button
                        class="btn tabs__item"
                        :class="activeTab === DIALOGS_KEY && 'tabs__active'"
                        @click="activeTab = DIALOGS_KEY"
                >Диалоги
                </button>
                <button
                        class="btn tabs__item"
                        :class="activeTab === CHATS_KEY && 'tabs__active'"
                        @click="activeTab = CHATS_KEY"
                >Поездки
                </button>
            </div>
            <ul class="chats-list" v-if="activeTab === CHATS_KEY">
                <li
                        v-for="chat in chatsList"
                        @click="$router.push(`/home/chat/trip/${chat.id}`)"
                        class="chats-list__item"
                >
                    <div class="image-container" :style="`background-image: url(${getChatImage(chat)})`"></div>
                    <div class="chats-list__title">
                        {{getChatTitle(chat)}}
                    </div>
                </li>
            </ul>
            <ul class="chats-list" v-if="activeTab === DIALOGS_KEY">
                <li
                        v-for="dialog in dialogsList" class="chats-list__item"
                        @click="$router.push(`/home/chat/dialog/${dialog.id}`)"
                >
                    <div class="avatar chats-list__image" :style="`background-image: url(${dialog.companion.photo})`"></div>
                    <div class="chats-list__title">{{dialog.companion.name}} {{dialog.companion.surname}}</div>
                </li>
            </ul>
        </screen-template>
    </div>
</template>

<style lang="scss">
    .tabs {
        display: flex;
        margin-bottom: 20px;

        &__item {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            border-bottom: 2px solid var(--border-color);
            background-color: white;
            outline: none;
        }

        &__active {
            border-bottom-color: var(--primary);
        }
    }

    .image-container {
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-size: cover;
        margin-right: 10px;
    }

    .chats-list {
        margin: 0;
        padding: 0;

        &__item {
            display: flex;
            align-items: center;
            padding: 10px;
            margin-bottom: 10px;
            background-color: rgba(255, 139, 139, 0.18);
            border-radius: 20px;
        }

        &__image {
            max-width: 30px;
            max-height: 30px;
            margin-right: 10px;
        }

        &__next-arrow {
            margin-left: auto;
            max-height: 20px;
            max-width: 20px;
        }
    }
</style>
