<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import {Action, Getter} from 'vuex-class';

    import {MessagesPage} from '../components';
    import {IChat} from "@/store/modules/chat/chat.vuex.d";

    @Component({
        components: {
            MessagesPage,
        }
    })
    export default class ChatMessages extends Vue {
        @Getter('user/userId') userId: number;
        @Getter('chat/chat') chat: IChat;
        @Getter('chat/chatMessages') chatMessages: IChat;
        @Action('chat/fetchChat') fetchChat: Function;
        @Action('chat/sendMessage') sendMessage: Function;
        @Action('bottomBar/show') bottomBarShow: Function;
        @Action('bottomBar/hide') bottomBarHide: Function;

        created() {
            const chatId = (this.$route.params as any).chatId;

            chatId && this.fetchChat(+chatId);
            this.bottomBarHide();
        }

        beforeDestroy() {
            this.bottomBarShow();
        }

        async handleSendMessage(message: string) {
            await this.sendMessage({
                author: this.userId,
                chat: this.chat.id,
                message
            });
        }
    }
</script>

<template>
    <messages-page
            title="Чат"
            :messages="chatMessages"
            :isAuthor="message => userId === message.author.userId"
            :getTimestamp="message => message.timestamp"
            :getName="message => message.author.name"
            :getData="message => message.data"
            @send="handleSendMessage"
    ></messages-page>
</template>

