<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import {Action, Getter} from 'vuex-class';

    import {MessagesPage} from '../components';

    @Component({
        components: {
            MessagesPage,
        }
    })
    export default class DialogMessages extends Vue {
        @Action('dialogs/fetchDialog') fetchDialog: Function;
        @Getter('dialogs/dialog') dialog: any;
        @Action('dialogs/sendMessage') sendMessage: any;
        @Getter('user/userId') userId: number;
        @Action('bottomBar/show') bottomBarShow: Function;
        @Action('bottomBar/hide') bottomBarHide: Function;

        @Watch('userId')
        onUserLoad() {
            this.fetchDialog({
                userId: this.userId,
                dialogId: this.dialogId,
            });
        }

        created() {
            if (this.userId) {
                this.fetchDialog({
                    userId: this.userId,
                    dialogId: this.dialogId,
                });
            }

            this.bottomBarHide();
        }

        beforeDestroy() {
            this.bottomBarShow();
        }

        get dialogId() {
            const dialogId = (this.$route.params as any).dialogId;

            return +dialogId;
        }

        handleSendMessage(message: string) {
            this.sendMessage({
                author: this.userId,
                dialog: this.dialogId,
                message
            })
        }
    }
</script>

<template>
    <messages-page
            v-if="dialog"
            :title="`${dialog.companion.name} ${dialog.companion.surname}`"
            :messages="dialog.messages"
            :isAuthor="message => userId === message.author.userId"
            :getTimestamp="message => message.timestamp"
            :getName="message => message.author.name"
            :getData="message => message.data"
            @send="handleSendMessage"
    ></messages-page>
</template>
