:root {
  // Colors
  --primary: rgb(249, 66, 54);
  --primary-soft: rgba(255, 88, 91, 0.65);
  --border-color: #C9CACC;
  --text-color: #414042;

  // Sizes
  --horizontal-offset: 25px;
}

html, body {
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
}

.map {
  position: relative;
  width: 100%;
  height: 400px;
}

.mt-30 {
  margin-top: 30px;
}

* {
  box-sizing: border-box;
}

.avatar {
  display: block;
  margin-right: 10px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 var(--horizontal-offset);
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn {
  background: none;
  border: none;
}

.btn-black {
  display: block;
  padding: 15px 30px;
  background: black;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.input-field {
  display: block;
  margin-top: 15px;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-container {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;
  top: 100%;
  width: 100%;
  border: 1px solid black;
  box-shadow: 0 6px 6px -1px #000000;
  z-index: 1000;
}

.dropdown-item {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 0;
}

.input-text {
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 5px;
  }

  input, textarea {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #edebe7;
    padding: 5px;
    outline: none;

    &:focus {
      border-bottom-color: var(--primary-soft);
    }
  }
}

.input-title {
  font-weight: 400;
  font-size: 16px;
}

.radio-group-title {
  margin-bottom: 10px;
}

.radio-group {
  display: flex;
  justify-content: space-between;
}

.input-radio {
  span {
    margin-left: 10px;
  }
}

.input-checkbox {
  span {
    margin-left: 10px;
  }
}

.input-select {
  padding: 5px;
  border: 1px solid black;
}

.input {
  display: block;
  margin: 15px auto;
  border: 0;
  border-bottom: 1px solid #000;
  padding: 5px 15px;
  width: 80%;
}

.section-title {
  margin: 0;
  padding: 10px;
  background-color: #3c2966;
  color: white;
  font-weight: 400;
}

.btn__red {
  padding: 10px 10px;
  background-color: var(--primary);
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 5px;
}

.jc {
  justify-content: center;
}
