$white: #ffffff;

$purple: #6515dd;

$graphite: #414042;
$graphite80: #676668;
$graphite60: #8d8c8e;

$grey: #bbbdbf;
$grey80: #c9cacc;
$grey60: #d6d7d9;
$grey40: #e4e5e5;
$grey20: #f1f2f2;

$coral: #ff5555;
$coral80: #ff7777;
$coral60: #ff9999;
$coral40: #ffbbbb;
$coral20: #ffdddd;

$deepPurple: #3e1191;
$deepPurple80: #6541a7;
$deepPurple60: #8b70bd;
$deepPurple40: #b2a0d3;
$deepPurple20: #d8cfe9;

$gold: #fbb81b;
$gold80: #fcc649;
$gold60: #fdd476;
$gold40: #fde3a4;
$gold20: #fef1d1;

$green: #00d38c;
$green80: #33dca3;
$green60: #66e5ba;
$green40: #99edd1;
$green20: #ccf6e8;

$midnightBlue: #282447;
$midnightBlue80: #53506c;
$midnightBlue60: #7e7c91;
$midnightBlue40: #a9a7b5;
$midnightBlue20: #d4d3da;

$softPurple: #8b78fa;
$softPurple80: #a293fb;
$softPurple60: #b9aefc;
$softPurple40: #d1c9fd;
$softPurple20: #e8e4fe;

$softBlue: #a3c5eb;
$softBlue80: #b5d1ef;
$softBlue60: #c8dcf3;
$softBlue40: #dae8f7;
$softBlue20: #edf3fb;