.main-wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.auth-form {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.auth-input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  margin-bottom: 20px;
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: .5px solid #cecece;
  transition: all .3s ease-in-out;

  &:focus {
    border-bottom-color: var(--primary);

    & ~ svg {
      fill: var(--primary);
    }
  }

  &::placeholder {
    color: #929292;
  }
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  svg {
    transition: all .3s ease-in-out;
    top: calc(50% - 19px);
    left: 8px;
    position: absolute;
    width: 16px;
  }
}

.main-wrapper_title {
  padding: 0 20px;
  position: relative;
  color: #212121;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
}

.auth-error {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%);
  color: red;
  font-size: 13px;
}

.main-wrapper_subtitle {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  padding: 0 30px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 16px;
}

.social_title {
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #000;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 15px;
}

.social_wr {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.social_link {
  flex-basis: 50%;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;

}

.social_link:first-child {
  text-align: right;
  padding-right: 15px;
}

.social_link:nth-child(2) {
  text-align: left;
  padding-left: 15px;
}

.social_link img {
  width: 40px;
  height: 40px;
}

.button_auth {
  display: block;
  background-color: var(--primary);
  font-family: 'Montserrat', sans-serif;
  border-radius: 35px;
  padding: 10px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  text-decoration: none;
  color: white;
}

.auth_link {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

.auth_hint {
  margin-top: 30px;
  text-align: center;
}
