<template>
    <ul>
        <slot></slot>
    </ul>
</template>

<style lang="scss">
    ul {
        padding: 20px;
        margin: 0;
        list-style: none;
        width: 100%;
        box-sizing: border-box;
    }
</style>
