<template>
    <div class="drawer-container" :class="{'hide-container': !isDrawerVisible}">
        <div
                class="overlay"
                :class="isDrawerOpen ? 'overlay-show' : 'overlay-hidden'"
                @click="closeDrawer"
        ></div>
        <div class="drawer" :class="isDrawerOpen ? 'open' : 'close'">
            <slot></slot>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import {Action, Getter} from 'vuex-class';

    @Component({})
    export default class DrawerComponent extends Vue {
        @Action('drawer/close') closeDrawer: Function;
        @Getter('drawer/isOpen') isDrawerOpen: boolean;
        @Getter('drawer/isVisible') isDrawerVisible: boolean;
    }
</script>

<style lang="scss" scoped>
    .drawer-container {
        position: fixed;
        left: 0;
        right: 0;
        top: 7vh;
        bottom: 0;
    }

    .hide-container {
        display: none;
    }

    .overlay {
        position: absolute;
        background: rgba(0, 0, 0, .5);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        opacity: 0;
        transition: opacity 400ms ease-in-out;
    }

    .overlay-show {
        opacity: 1;
    }

    .overlay-hidden {
        opacity: 0;
    }

    .open {
        transform: translateX(0);
    }

    .close {
        transform: translateX(-280px);
    }

    .drawer {
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        max-width: 280px;
        background-color: white;
        transition: all 400ms ease-in-out;
    }
</style>
