<template>
    <header class="drawer-header">
        <img :src="avatar" class="avatar" :alt="avatar">
        <p class="user-name text-overflow">{{name}}</p>
        <p class="user-email text-overflow">{{email}}</p>
    </header>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';

    @Component({})
    export default class DrawerHeader extends Vue {
        @Prop({type: String}) avatar: string;
        @Prop({type: String}) name: string;
        @Prop({type: String}) email: string;
    }
</script>

<style lang="scss" scoped>
    .drawer-header {
        padding: 40px 20px 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: black;
        box-sizing: border-box;
    }

    .avatar {
        max-width: 50px;
        border-radius: 50%;
        background-color: white;
        padding: 5px;
    }

    .user-name {
        margin-top: 15px;
        margin-bottom: 10px;
        width: 100%;
        color: white;
        font-size: 18px;
        font-weight: 600;
    }

    .user-email {
        margin-top: 0;
        width: 100%;
        color: white;
    }
</style>
