<template>
    <li>
        <button class="btn btn-menu" @click="$emit('click')">
            <img :src="icon" :alt="title">
            <span>{{title}}</span>
        </button>
    </li>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';

    @Component({})
    export default class DrawerMenuItem extends Vue {
        @Prop(String) icon: string;
        @Prop(String) title: string;
    }
</script>

<style lang="scss">
    li {
        margin-bottom: 15px;
    }

    .btn-menu {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;

        img {
            max-width: 30px;
            max-height: 30px;
            margin-right: 20px;
        }
    }
</style>
