<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Getter, Action} from 'vuex-class';
    import {config} from '@/config';

    import {
        InputComponent,
        TextareaComponent,
        SelectComponent,
        CheckboxComponent,
        ScreenTemplate,
    } from '@/components';
    import {IUserStore} from '@/store/modules/user/user.vuex.d';

    @Component({
        components: {
            ScreenTemplate,
            InputComponent,
            TextareaComponent,
            SelectComponent,
            CheckboxComponent,
        }
    })
    export default class ProfilePage extends Vue {
        @Getter('user/user') user: IUserStore;
        @Action('user/updateUserInfo') updateUserInfo: Function;
        @Action('user/changePhoto') changePhoto: Function;

        form: {
            [key: string]: string
        } = {
            name: '',
            surname: '',
            gender: '',
            birthday: '',
            about: '',
            email: '',
            phone: '',
            photo: '',
        };

        $refs: {
            photoRef: HTMLInputElement
        };

        genderList = [
            {value: 'MAN', title: 'Мужской'},
            {value: 'WOMAN', title: 'Женский'},
        ];

        created() {
            this.form.name = this.user.name || '';
            this.form.gender = this.user.gender || '';
            this.form.surname = this.user.surname || '';
            this.form.birthday = this.user.birthday || '';
            this.form.about = this.user.about || '';
            this.form.email = this.user.email || '';
        }

        get photo() {
            return config.getStaticUrl(this.user.photo || '');
        }

        handleSubmit() {
            const {photo, ...data} = this.form;

            console.log(photo);

            const payload = Array
                .from(Object.keys(data))
                .reduce(
                    (acc, key) => data[key] !== '' ? {...acc, [key]: data[key]} : acc
                    , {}
                );

            this.updateUserInfo(payload);
        }

        handleChangePhoto() {
            if (this.$refs.photoRef.files) {
                this.changePhoto({
                    id: this.user.userId,
                    photo: this.$refs.photoRef.files[0],
                })
            }
        }
    }
</script>

<template>
    <screen-template
            title="Редактировать"
            :isBack="true"
    >
        <form @submit.prevent="handleSubmit">
            <div class="inputs-section">
                <div class="photo">
                    <label for="avatar">
                        <img :src="photo" alt="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 471.2 471.2">
                            <path d="M457.7 230.2c-7.5 0-13.5 6-13.5 13.5v122.8a60.6 60.6 0 0 1-60.5 60.4H87.5A60.6 60.6 0 0 1 27 366.6V241.5c0-7.5-6-13.5-13.5-13.5S0 234.1 0 241.6v124.8A87.6 87.6 0 0 0 87.5 454h296.2a87.6 87.6 0 0 0 87.5-87.6V243.8c0-7.4-6-13.5-13.5-13.5z"></path>
                            <path d="M159.3 126.2l62.8-62.8v273.8c0 7.6 6 13.6 13.5 13.6s13.5-6 13.5-13.6V63.4l62.8 62.8c2.6 2.6 6.1 4 9.5 4a13 13 0 0 0 9.5-4 13.5 13.5 0 0 0 0-19.1l-85.8-85.8c-2.5-2.5-6-4-9.5-4a13 13 0 0 0-9.5 4L140.3 107a13.5 13.5 0 1 0 19 19z"></path>
                        </svg>
                    </label>
                    <input hidden @change="handleChangePhoto" type="file" id="avatar" ref="photoRef">
                </div>
            </div>
            <div class="inputs-section">
                <select-component
                        id="gender"
                        label="Пол"
                        :items="genderList"
                        v-model="form.gender"
                ></select-component>
                <input-component
                        id="name"
                        type="text"
                        label="Имя"
                        v-model="form.name"
                ></input-component>
                <input-component
                        id="surname"
                        type="text"
                        label="Фамилия"
                        v-model="form.surname"
                ></input-component>
                <input-component
                        id="birthday"
                        type="date"
                        label="Дата рождения"
                        v-model="form.birthday"
                ></input-component>
                <textarea-component
                        id="about"
                        label="О себе"
                        :rows="5"
                        v-model="form.about"
                ></textarea-component>
            </div>
            <div class="inputs-section">
                <input-component
                        id="email"
                        type="email"
                        label="Email"
                        v-model="form.email"
                ></input-component>
                <input-component
                        id="phone"
                        type="number"
                        label="Номер телефона"
                        v-model="form.phone"
                ></input-component>
            </div>
            <div class="container jc">
                <button class="btn btn__red">
                    Сохранить
                </button>
            </div>
        </form>
    </screen-template>
</template>

<style lang="scss" scoped>
    .photo {
        margin: 0 auto;
        display: flex;
        justify-content: center;

        label {
            display: block;
            position: relative;
            border-radius: 50%;
            overflow: hidden;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .4);
            }
        }

        img {
            max-width: 90px;
            width: 100%;
        }

        svg {
            position: absolute;
            width: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: white;
            z-index: 100;
        }
    }

    .profile-input {
        &__field {
            display: flex;
            align-items: center;
            padding: 10px;

            input, select {
                width: 100%;
            }
        }

        &__label {
            padding-right: 20px;
            box-sizing: border-box;
            font-weight: 500;
            text-align: right;
            min-width: 115px;
            max-width: 115px;
        }

        &__input {
            width: 100%;

            input, textarea, select {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }

    .btn-save {
        width: 80%;
        padding: 15px;
        margin: 0 auto 50px;
        display: block;
        text-align: center;
        color: #fff;
        background-color: #3c2966;
        font-size: 18px;
        font-weight: bold;
        border-radius: 30px;
        outline: none;
    }

    .inputs-section {
        padding: 20px 0;
    }
</style>
