<template>
    <div class="modal" :class="open ? 'show' : 'hide'">
        <div class="overlay" @click="$emit('close')"></div>
        <slot></slot>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Watch, Prop} from 'vue-property-decorator';

    @Component({})
    export default class ModalComponent extends Vue {
        @Prop(Boolean) open: boolean;

        @Watch('open')
        handleChangeOpen() {
            document.body.style.overflowY = this.open ? 'hidden' : 'scroll';
        }
    }
</script>

<style lang="scss" scoped>
    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }
</style>
