<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';

    @Component({})
    export default class ScreenTemplate extends Vue {
        @Prop(String) title: string;
        @Prop(Function) headerRef: Function;
        @Prop(Boolean) isBack: boolean;
        @Prop(Boolean) minimal: boolean;
        @Prop(Boolean) disableHorizontalOffset?: boolean;

        handleScroll: any | null = null;
        isSmallTitle: boolean = false;
        $refs: {
            headerRef: HTMLDivElement;
        };

        mounted() {
            this.handleScroll = window.addEventListener('scroll', () => {
                if (window.pageYOffset > 40 && this.isSmallTitle === false) {
                    this.isSmallTitle = true;
                }

                if (window.pageYOffset < 40 && this.isSmallTitle === true) {
                    this.isSmallTitle = false;
                }
            });

            this.headerRef && this.headerRef(this.$refs.headerRef);
        }

        beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll)
        }
    }
</script>

<template>
    <div class="screen-template">
        <div ref="headerRef" class="top-bar">
            <div class="top-left-container">
                <slot name="top-left">
                    <button v-if="isBack" @click="$router.back()" class="btn btn__back">
                        <svg width="13" height="21" xmlns="http://www.w3.org/2000/svg">
                            <path d="M.8 11.4a1 1 0 0 1 0-1.3L10 .9c.6-.5 1.5-.5 2 0 .6.6.6 1.5 0 2l-7.8 7.9 7.9 7.8c.5.5.5 1.4 0 2-.6.5-1.5.5-2 0L.7 11.4z" style="fill: var(--primary)" fill-rule="evenodd"></path>
                        </svg>
                    </button>
                </slot>
            </div>
            <span class="small-title" v-if="minimal || isSmallTitle">{{title}}</span>
            <div class="top-right-container"></div>
        </div>
        <div class="content">
            <div class="middle-bar" v-if="!minimal">
                <h2 class="big-title">{{title}}</h2>
                <slot name="middle-left"></slot>
            </div>
            <div :class="disableHorizontalOffset ? '' : 'scroll-container'">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .scroll-container {
        padding: 0 var(--horizontal-offset);
    }

    .content {
        margin: 55px auto 0;
        max-width: 800px;
    }

    .screen-template {
        height: 100%;
    }

    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
        min-height: 55px;
        padding: 12px var(--horizontal-offset) 0;
        background-color: white;
    }

    .top-right-container, .top-left-container {
        width: 25px;
        display: flex;
    }

    .top-right-container {
        justify-content: flex-end;
    }

    .top-left-container {
        justify-content: flex-start;
    }

    .middle-bar {
        display: flex;
        justify-content: space-between;
        margin: 0 var(--horizontal-offset) 20px;
        padding-bottom: 8.5px;
        border-bottom: 0.5px solid var(--border-color);
    }

    .big-title, .small-title {
        margin: 0;
        font-size: 32px;
        font-family: 'Merriweather', sans-serif;
        font-weight: 900;
        line-height: 40px;
    }

    .small-title {
        font-size: 17px;
    }

    .btn__back {
        padding: 0;

        svg {
            height: 21px;
            width: 13px;
        }
    }
</style>
