<template>
    <div class="trip__date">
        <strong>{{day}}</strong>
        <span>{{month}}</span>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';
    import moment from 'moment';

    @Component({})
    export default class TripDate extends Vue {
        @Prop(String) date: string;

        get day() {
            return this.formatDate(this.date).day
        }

        get month() {
            return this.formatDate(this.date).month
        }

        formatDate(date: string) {
            const [day, month] = moment(date).format('D MMMM').split(' ');

            return {day, month};
        }
    }
</script>

<style lang="scss">
    .trip__date {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        background-color: #3c2966;
        color: white;

        strong {
            font-size: 22px;
            font-family: 'Merriweather', sans-serif;
        }

        span {
            margin-top: 4px;
            font-weight: 500;
            font-size: 18px;
        }
    }
</style>
