<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import moment from 'moment';
    import {Getter, Action} from 'vuex-class';

    import {config} from '@/config';

    @Component({})
    export default class TripCard extends Vue {
        @Prop(Object) trip: any;
        @Getter('trips/favorite') tripsFavorite: any[];
        @Getter('user/userId') userId: number;
        @Action('trips/addFavorite') addFavorite: Function;
        @Action('trips/removeFavorite') removeFavorite: Function;

        get name() {
            return `${this.trip.from.name.split(',')[0].trim()} - ${this.trip.to.name.split(',')[0].trim()}`;
        }

        get isFavorite() {
            return this.tripsFavorite.map((item: any) => item.tripId).includes(this.trip.tripId)
        }

        handleFavorite() {
            const payload = {
                userId: this.userId,
                tripId: this.trip.tripId
            };

            this.isFavorite ? this.removeFavorite(payload) : this.addFavorite(payload);
        }

        get day() {
            return moment(this.trip.dateStart).format('DD');
        }

        get month() {
            return moment(this.trip.dateStart).format('MMM');
        }

        get starts() {
            return moment().to(this.trip.dateStart)
        }

        get going() {
            return this.trip.participants.slice(0, 3)
        }

        photoLink(photo: string) {
            return config.staticHost + '/' + photo;
        }
    }
</script>

<template>
    <div class="trip">
        <div
                @click="$router.push(`/home/trip-details/${trip.tripId}`)"
                :style="`background: url(${trip.photo}) center center`"
                class="image"
        >
            <div class="image-spacer"></div>
            <div class="favorite" @click.stop="handleFavorite" :class="isFavorite && 'favorite-active'"></div>
        </div>
        <footer>
            <div class="time-card">
                <span class="time-card__day">{{day}}</span>
                <span class="time-card__month">{{month}}</span>
            </div>
            <div class="info">
                <p class="to-place">{{name}}</p>
                <p class="starts">Старт {{starts}}</p>
            </div>
            <div class="going-container">
                <ul class="going">
                    <li v-for="item in going">
                        <img :src="photoLink(item.user.photo)" alt="Участник">
                    </li>
                </ul>
                <span>Участников: {{trip.participants.length}}</span>
            </div>
        </footer>
    </div>
</template>

<style lang="scss" scoped>
    .favorite {
        position: absolute;
        bottom: 0;
        right: 0;
        background: url("../assets/images/star.svg") no-repeat center center;
        background-size: 50% 50%;
        width: 70px;
        height: 70px;
    }

    .favorite-active {
        background-image: url("../assets/images/star-fill.svg");
    }

    .trip {
        display: flex;
        flex-direction: column;

        footer {
            display: flex;
            margin-top: 20px;
        }
    }

    .going-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        flex: 1;
        font-size: .8rem;
        font-weight: 500;
    }

    .going {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        width: auto;

        li {
            margin: 0;
            margin-right: -10px;

            &:last-child {
                margin-right: 0;
            }
        }

        img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            padding: 3px;
            background-color: white;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3px 0;
    }

    .to-place {
        margin: 0;
        font-weight: bold;
    }

    .starts {
        font-size: .8rem;
        margin: 0;
    }

    .time-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        margin-right: 10px;
        padding: 5px 0;
        background-color: black;
        border-radius: 6px;
        color: white;

        &__day {
            font-size: 1.1rem;
            font-weight: bold;
        }

        &__month {
            font-size: .75rem;
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    .image-spacer {
        padding-top: 60%;
    }

    .image {
        width: 100%;
        position: relative;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 4px;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .1);
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 10;
            right: 20px;
            top: 20px;
            width: 20px;
            height: 20px;
            background: url("../assets/images/arrow.svg") center center / cover;
        }
    }
</style>
