<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import moment from 'moment';
    import {config} from '@/config';

    @Component({})
    export default class UserCard extends Vue {
        @Prop(Object) user: any;

        get fullName() {
            return `${this.user.name} ${this.user.surname}`
        }

        get avatar() {
            return config.staticHost + '/' + this.user.photo;
        }

        get age() {
            if (!this.user.birthday) {
                return null;
            }

            return moment().diff(this.user.birthday, 'years');
        }
    }
</script>

<template>
    <div class="user__card">
        <img
                :src="avatar"
                alt="User avatar"
                class="user__avatar"
        >
        <p class="user__full-name">{{fullName}}</p>
        <p v-if="age" class="user_age">{{this.age}}</p>
    </div>
</template>

<style lang="scss" scoped>
    .user__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #3c2966;
        color: white;
    }

    .user__avatar {
        max-width: 70px;
        max-height: 70px;
        padding: 10px;
        border-radius: 50%;
        background-color: white;
    }

    .user__full-name {
        font-weight: 600;
        font-size: 18px;
    }

    .user_place {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .user_age {
        margin-top: 0;
    }
</style>
