<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Action, Getter} from 'vuex-class';
    import moment from 'moment';

    import {config} from '@/config';
    import {TripCard, ScreenTemplate} from '@/components';

    @Component({
        components: {
            TripCard,
            ScreenTemplate,
        }
    })
    export default class UserDetails extends Vue {
        @Getter('user/user') user: any;
        @Getter('trips/userTrips') userTrips: any;
        @Action('trips/fetchUserTrips') fetchUserTrips: Function;
        @Action('user/exit') userExit: Function;
        @Action('chat/clearData') clearChatData: Function;
        @Getter('trips/favorite') tripsFavorite: any[];

        created() {
            this.fetchUserTrips(this.user.userId);
        }

        get photo() {
            return config.getStaticUrl(this.user.photo)
        }

        get fullName() {
            return `${this.user.name} ${this.user.surname}`;
        }

        get gender() {
            const genders: {[key: string]: string} = {
                MAN: 'Мужчина',
                WOMAN: 'Женщина',
            };

            if (this.user.gender) {
                return genders[this.user.gender]
            } else {
                return null;
            }
        }

        get age() {
            if (!this.user.birthday) {
                return '';
            }

            return moment().diff(this.user.birthday, 'years');
        }

        handleExit() {
            this.userExit();
            this.clearChatData();
            this.$router.push('/authenticate');
        }
    }
</script>

<template>
    <screen-template title="Профиль" :isBack="true">
        <template v-if="user.userId">
            <div class="user-card">
                <div class="avatar" :style="`background-image: url(${photo})`"></div>
                <div class="info">
                    <div class="name">{{fullName}}</div>
                    <div v-if="user.birthday" class="age">Возвраст: {{age}}</div>
                </div>
            </div>
            <template v-if="user.about">
                <h3 class="info-title">О себе</h3>
                <p>{{user.about}}</p>
            </template>
            <p v-if="gender">Пол: {{gender}}</p>
            <div class="btns">
                <button class="btn btn__red" @click="$router.push('/home/profile/edit')">
                    Редактировать
                </button>
                <button class="btn btn__red" @click="handleExit">
                    Выйти
                </button>
            </div>
            <h3 class="info-title">Мои поездки</h3>
            <ul class="trips-list">
                <li v-for="item in userTrips">
                    <trip-card :trip="item"></trip-card>
                </li>
            </ul>
            <h3 class="info-title">Избранные</h3>
            <ul class="trips-list">
                <li v-for="item in tripsFavorite">
                    <trip-card :trip="item"></trip-card>
                </li>
            </ul>
        </template>
    </screen-template>
</template>

<style lang="scss" scoped>
    .trips-list {
        margin: 20px 0 0;
        padding: 0;

        li {
            margin-bottom: 20px;
        }
    }

    .info-title {
        margin-bottom: 0;
    }

    .btns {
        display: flex;
        justify-content: space-between;
    }

    .user-card {
        display: flex;
        padding: 10px;
        border-radius: 3px;
        background-color: #f9f9f9;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .name {
        font-weight: bold;
    }
</style>
