<template>
    <router-view/>
</template>

<style lang="scss">
    @import "theme/global";
    @import "theme/palette";
    @import "theme/normalize";

    html {
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $graphite;
    }
</style>
