<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import {Getter, Action} from 'vuex-class';
    import moment from 'moment';

    import TripItem from './components/trip-item.component.vue';
    import UserCard from './components/user-card.component.vue';
    import {ScreenTemplate} from '@/components';
    import {GApi} from "@/libs/gapi";
    import {config} from '@/config';
    import {companionList} from '@/pages/home/pages/create-trip/constants-trip';
    import {ParticipantsStatuses} from '@/store/modules/trips';

    @Component({
        components: {
            TripItem,
            UserCard,
            ScreenTemplate,
        }
    })
    export default class TripDetailsPage extends Vue {
        @Action('trips/fetchTripDetails') fetchTripDetails: Function;
        @Action('trips/addParticipant') addParticipant: Function;
        @Action('trips/deleteTrip') deleteTrip: Function;
        @Action('trips/removeParticipant') removeParticipant: Function;
        @Action('trips/selectParticipant') selectParticipant: Function;
        @Action('trips/unselectParticipant') unselectParticipant: Function;
        @Getter('trips/tripDetails') tripDetails: any;
        @Getter('user/userId') userId: number;

        gapi = new GApi();
        $refs: {
            toInfoMarker: HTMLDivElement;
            fromInfoMarker: HTMLDivElement;
            mapDetails: HTMLInputElement;
        };
        getStaticPath = config.getStaticUrl;

        created() {
            this.fetchTripDetails(+(this.$route.params as any).id);
        }

        mounted() {
            const element = this.$refs.mapDetails;
            const center = {lat: 49.770511, lng: 31.547726};
            const zoom = 4.5;

            this.gapi.initialize({element, center, zoom, disableDefaultUI: true})
        }

        @Watch('tripDetails')
        onTripLoad() {
            if (this.tripDetails.from && this.tripDetails.to) {
                const from = this.getPlace(this.tripDetails.from);
                const to = this.getPlace(this.tripDetails.to);

                this.gapi.setMarker('from', from, this.$refs.fromInfoMarker);
                this.gapi.setMarker('to', to, this.$refs.toInfoMarker);
                this.gapi.drawRoute(from.location, to.location);
            }
        }

        get photo() {
            return this.tripDetails && this.tripDetails.photo;
        }

        get companion() {
            if (this.tripDetails.companion) {
                const a = companionList.find((item: any) => item.value === this.tripDetails.companion);

                return a && a.title
            } else {
                return '';
            }
        }

        get isAuthor() {
            if (!this.tripDetails.author) {
                return false;
            }

            return this.tripDetails.author.userId === this.userId;
        }

        getTime(timestamp: number) {
            return moment(timestamp).format('D MMM')
        }

        get members() {
            if (this.tripDetails.participants) {
                return this.tripDetails.participants.filter((item: any) => item.status === ParticipantsStatuses.SELECTED);
            } else {
                return [];
            }
        }

        get waiting() {
            if (!this.tripDetails.participants) {
                return [];
            }

            return this.tripDetails.participants.filter((item: any) => item.status === ParticipantsStatuses.WAITING);
        }

        handleClick() {
            if (!this.tripDetails.tripId) {
                return;
            }

            const payload = {
                tripId: this.tripDetails.tripId,
                userId: this.userId
            };

            if (this.isMember()) {
                this.removeParticipant(payload)
            } else {
                this.addParticipant(payload)
            }
        }

        async handleDeleteTrip() {
            await this.deleteTrip(this.tripDetails.tripId);
            this.$router.push(`/home/`)
        }

        handleUserClick(user: any) {
            this.$router.push(`/home/user-details/${user.userId}`)
        }

        getPlaceName(place: any) {
            return place && place.name.split(', ')[0];
        }

        isMember() {
            return this.tripDetails.participants &&
                this.tripDetails.participants
                    .map((participant: any) => participant.user.userId)
                    .includes(this.userId);
        }

        getPlace(place: any) {
            return {
                name: place.name,
                location: {
                    lng: place.longitude,
                    lat: place.latitude,
                },
            }
        }
    }
</script>

<template>
    <screen-template
            title="Детали поездки"
            :isBack="true"
    >
        <template v-if="tripDetails">
            <div class="trip-image" :style="`background: url(${tripDetails.photo}) center center;`">
                <div class="trip-image__spacer"></div>
                <div class="trip-image-title">
                    <div>
                        {{getPlaceName(tripDetails.from)}} - {{getPlaceName(tripDetails.to)}}
                    </div>
                    <div>
                        {{getTime(tripDetails.dateStart)}} - {{getTime(tripDetails.dateEnd)}}
                    </div>
                </div>
            </div>
            <h2 class="container title">Описание</h2>
            <div class="container trip-description">{{tripDetails.description}}</div>
            <h2 class="container title">Пожелания</h2>
            <div class="container trip-description">{{tripDetails.wishes}}</div>
            <h2 class="container title">Автор</h2>
            <div class="user container" v-if="tripDetails.author">
                <div
                        class="avatar"
                        :style="`background-image: url(${getStaticPath(tripDetails.author.photo)})`"
                        @click.prevent="handleUserClick(item.user)"
                ></div>
                {{tripDetails.author.name}} {{tripDetails.author.surname}}
            </div>
            <div class="container trip-description">Ищу: {{companion}}</div>
            <h2 class="container title">Маршрут</h2>
            <div>
                <div ref="mapDetails" class="map"></div>
                <div ref="toInfoMarker" class="to-marker">{{getPlaceName(tripDetails.to)}}</div>
                <div ref="fromInfoMarker" class="to-marker">{{getPlaceName(tripDetails.from)}}</div>
            </div>
            <div class="container title member_title">
                <span>Участники</span>
            </div>
            <ul class="members">
                <li class="user" v-for="item in members">
                    <div
                            class="avatar"
                            :style="`background-image: url(${getStaticPath(item.user.photo)})`"
                            @click.prevent="handleUserClick(item.user)"
                    ></div>
                    <span @click.prevent="handleUserClick(item.user)">
                        {{item.user.name}} {{item.user.surname}}
                    </span>
                    <button class="btn btn__del" v-if="isAuthor" @click="unselectParticipant(item.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="357" height="357" viewBox="0 0 357 357">
                            <path d="M357 35.7L321.3 0 178.5 142.8 35.7 0 0 35.7l142.8 142.8L0 321.3 35.7 357l142.8-142.8L321.3 357l35.7-35.7-142.8-142.8z" fill="white"></path>
                        </svg>
                    </button>
                </li>
            </ul>
            <div class="container title member_title">
                <span>Интересующиеся</span>
                <button class="btn btn__member" @click="handleClick" v-if="!isAuthor">
                    {{isMember() ? 'покинуть' : 'учавствовать'}}
                </button>
            </div>
            <ul class="members">
                <li class="user" v-for="item in waiting">
                    <div
                            class="avatar"
                            :style="`background-image: url(${getStaticPath(item.user.photo)})`"
                            @click.prevent="handleUserClick(item.user)"
                    ></div>
                    <span @click.prevent="handleUserClick(item.user)">
                        {{item.user.name}} {{item.user.surname}}
                    </span>
                    <button class="btn btn__add" v-if="isAuthor" @click="selectParticipant(item.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 286.4 286.4">
                            <path d="M268.5 125.3H161V17.9a17.9 17.9 0 1 0-35.8 0v107.4H17.9a17.9 17.9 0 1 0 0 35.8h107.4v107.4a17.9 17.9 0 1 0 35.8 0V161h107.4a17.9 17.9 0 0 0 0-35.8z" fill="white" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </li>
            </ul>
            <div class="container js">
                <button v-if="isAuthor" @click="handleDeleteTrip" class="btn btn__red">Удалить поездку</button>
            </div>
        </template>
    </screen-template>
</template>

<style lang="scss" scoped>
    .btn__add, .btn__del {
        width: 25px;
        height: 25px;
        margin-left: auto;
        padding: 6px;
        background-color: var(--primary);
        border-radius: 50%;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .member_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .btn__member {
        padding: 5px 10px;
        font-size: .9rem;
        font-weight: bold;
        background-color: var(--primary);
        color: white;
        border-radius: 4px;
    }

    .user {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: .8rem;
        font-weight: bold;

        .avatar {
            max-width: 30px;
            max-height: 30px;
            margin-right: 10px;
        }
    }

    .members {
        width: auto;
        margin: 20px var(--horizontal-offset) 0;
        padding: 20px 0 0;
        border-top: 0.5px solid var(--border-color);
        list-style: none;
    }

    .trip-image {
        position: relative;
    }

    .trip-image__spacer {
        padding-top: 50%;
    }

    .trip-description {
        margin-top: 20px;
        font-weight: 500;
    }

    .trip-image-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 30px 20px 20px;
        background: linear-gradient(to top, rgba(0, 0, 0, .6) 60%, transparent);
        color: white;
        font-weight: bold;
        font-family: Merriweather, sans-serif;
    }

    .map {
        position: relative;
        width: 100%;
        height: 400px;
    }

    .btn-mt20 {
        margin-top: 20px;
    }

    .title {
        margin: 20px 0;
        font-size: 1.5rem;
        text-align: left;
        font-weight: 300;
    }
</style>
