<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Getter, Action} from 'vuex-class';

    import {TripDate, UserCard} from '@/components';

    @Component({
        components: {
            TripDate,
            UserCard,
        }
    })
    export default class UserTrips extends Vue {
        @Getter('user/user') user: any;
        @Getter('user/userId') userId: number;
        @Getter('user/avatar') userAvatar: string;
        @Getter('user/fullName') fullName: string;
        @Getter('user/place') userPlace: string;
        @Getter('user/age') userAge: string;
        @Getter('trips/userTrips') userTrips: string;
        @Action('trips/fetchUserTrips') fetchUserTrips: Function;

        created() {
            this.fetchUserTrips(this.userId);
        }

        get cardUser() {
            if (!this.user) {
                return null;
            }

            const {name, surname, photo, birthday} = this.user;

            return {name, surname, photo, birthday};
        }
    }
</script>

<template>
    <div>
        <user-card v-if="cardUser" :user="cardUser"></user-card>
        <h2 class="trips-title">Ваши поездки</h2>
        <ul class="user__trips">
            <li v-for="trip in userTrips" :key="trip.tripId" class="trip-item">
                <trip-date :date="trip.dateStart"></trip-date>
                <div class="trip__info">
                    <p>{{trip.description}}</p>
                    <div class="trip__places">
                        <span>{{trip.from.name}}</span>
                        <span>{{trip.to.name}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<style lang="scss" scoped>
    .trip__places {
        display: flex;
        justify-content: space-between;
    }

    .trip__info {
        padding: 15px;
        width: 100%;
        font-size: 18px;

        p {
            font-weight: 500;
            margin: 0 0 10px;
        }
    }

    .user__trips {
        padding: 0 20px;
        margin: 0;
        list-style: none;
    }

    .trip-item {
        display: flex;
    }

    .trip__date {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        background-color: #3c2966;
        color: white;

        strong {
            font-size: 22px;
            font-family: 'Merriweather', sans-serif;
        }

        span {
            margin-top: 4px;
            font-weight: 500;
            font-size: 18px;
        }
    }

    .trips-title {
        font-weight: 600;
        text-align: center;
        margin: 25px 0;
        font-size: 26px;
    }
</style>
