<template>
    <div class="container">
        <input class="input" type="checkbox" :id="id" :value="value" @input="handleInput">
        <label class="pseudo-checkbox" :class="{'checked': value}" :for="id"></label>
        <label class="label" :for="id">{{placeholder}}</label>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Prop, Emit} from 'vue-property-decorator';

    @Component({})
    export default class CheckboxInput extends Vue {
        @Prop() id: string;
        @Prop() placeholder: string;
        @Prop() value: boolean;
        @Emit('input')
        handleInput(event: HTMLElementEvent<HTMLInputElement>) {
            return event.target.value === 'false';
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../theme/palette";

    .container {
        display: flex;
        align-items: center;
    }

    .input {
        width: 0;
        height: 0;
    }

    .pseudo-checkbox {
        display: block;
        position: relative;
        margin-right: 10px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid $grey;
        transition: all 0.2s;

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 55%;
            height: 55%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url("../../assets/images/checked.svg") center center no-repeat;
            background-size: contain;
        }
    }

    .checked {
        background-color: $purple;
        border-color: $purple;
    }

    .label {
        font-size: 0.85rem;
        color: $graphite80;
    }
</style>
