<template>
    <div class="container">
        <input
                class="input"
                :value="value"
                @input="handleInput"
                :type="type"
                :id="id"
        >
        <label
                class="label"
                :class="{'empty': value.length !== 0}"
                :for="id"
        >
            {{placeholder}}
        </label>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Prop, Emit} from 'vue-property-decorator';

    @Component({})
    export default class TextInput extends Vue {
        @Prop({default: 'text'}) type!: string;
        @Prop() id: string;
        @Prop() placeholder: string;
        @Prop() value: string;
        @Emit('input')
        handleInput(event: HTMLElementEvent<HTMLInputElement>) {
            return event.target.value
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../theme/palette";

    .container {
        position: relative;
        width: 100%;
        padding-top: 13px;
    }

    .label {
        left: 0;
        bottom: 10px;
        position: absolute;
        transition: all 0.2s;
        color: $grey;
        font-size: 1.1rem;
    }

    .empty {
        bottom: 35px;
        font-size: 0.8rem;
    }

    .input {
        width: 100%;
        padding: 10px 0;
        outline: none;
        border: none;
        border-bottom: 1px solid $grey80;
        transition: all 0.2s;
        color: $graphite;
        font-size: 1.1rem;

        &:focus {
            border-bottom-color: $purple;

            & ~ .label {
                color: #6515dd;
                font-size: 0.8rem;
                bottom: 35px;
            }
        }
    }
</style>
