<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';

    interface IBottomItem {
        icon: string;
    }

    @Component({})
    export default class BottomBar extends Vue {
        @Prop(Array) items: IBottomItem[];

        isActive(key: string) {
            return this.$route.fullPath.includes(key);
        }
    }
</script>

<template>
    <ul class="menu-list">
        <li v-for="item in items" class="menu-item" :class="isActive(item.path) && 'menu-item__active'">
            <img @click="$emit('click', item)" :src="item.icon" :alt="item.key"/>
        </li>
    </ul>
</template>

<style lang="scss" scoped>
    .menu-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        list-style: none;
        min-height: 60px;
        background-color: white;
        width: 100vw;
        margin: 0 auto;
        max-width: 800px;
    }

    .menu-item {
        padding: 5px;
        margin: 0;
        border-bottom: 3px solid transparent;

        &__active {
            border-bottom-color: var(--primary);
        }

        button {
            cursor: pointer;
        }

        img {
            width: 25px;
            height: 25px;
        }
    }
</style>
